// main.styl

grey = #f6f6f6
purple = #7f00ff
darkpurple = darken(purple, 60%)
black = #333
radius = 5px

transition()
  transition arguments
  -webkit-transition arguments
  -o-transition arguments
  -moz-transition arguments

*
  padding 0
  margin 0
  font-weight 100
  // color black

a
  text-decoration none
  color white
  &:hover
    color black

body
  font-size 20px
  padding-top 50px
  color white
  background transparent
  font-family "Raleway", helvetica

input
  background grey
  font-size 20px
  outline none
  border 1px solid black
  border-radius radius
  padding 5px
  display block
  margin-top 10px
  color: black
  font-family "Roboto", helvetica

  &:focus
    border 1px solid purple

nav
  text-align right
  background rgba(0,0,0,0.5)
  padding-right 14px
  padding-bottom 15px
  position fixed
  width 100%
  top 0px
  left 0px

  a
    color white

    a:hover
      color purple

  li
    font-family courier, "Open Sans"
    display inline-block
    position relative
    padding-top 14px
    padding-left 20px
    padding-right 20px

  li:last-child
    padding-right 20px

  li:first-child
    padding-left 20px
    float left
  li#register
    @media screen and (max-width: 500px)
      display none
    
div.content
  min-width 300px
  width 80%
  max-width 700px
  margin auto

#first_search
  font-size 40px
  margin-top 20px
  width 100% 
  padding 20px 25px
  border 1px solid black
  color black
  background rgba(255,255,255,0.5)

  input_grey = #bbb

  &::-webkit-input-placeholder { /* WebKit browsers */
    color:    input_grey;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    input_grey;
    opacity:  1;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    input_grey;
    opacity:  1;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    input_grey;
  }


ul#result_list
  list-style none
  border 1px solid black
  border-radius radius
  margin auto
  margin-top 20px
  margin-bottom 100px
  // background white

  *
    background none

  &.hidden-ul
    display none

  li
    border-top 1px solid black
    position relative
    top -1px

    &.seperator
      border-radius radius radius 0 0
      span
        font-size 85%  
        float right
        cursor pointer
        &:hover
          text-decoration underline

    &.seperator
      font-size 20px
      background-color rgba(0,0,0,0.5)
      text-transform capitalize
      padding 10px

  .result
    min-height 150px
    clear both
    width 100%
    position relative
    background-color white

    &.hidden_result
      display none

    &.no_border_result
      border-top none

    h2
      padding-top 20px
      padding-left 30px
      max-width 70%
      box-sizing border-box
      font-size 20px

    span
      padding-left 30px
      font-size 16px

    img
      max-height 100px
      position absolute
      right 20px
      top 20px

    a
      color black
      &:hover
        color purple
        text-decoration underline

      &.add_button
        position absolute
        bottom 10px
        border-radius 50px
        margin-left 30px
        cursor pointer
        padding 10px
        border 1px solid rgba(0,0,0,0)
        color purple
        font-size 14
        transition border 0.3s
        text-decoration none

        &:hover
          border 1px solid purple

      &.add_to_playlist
        left -10px
      &.play_now
        left 110px
